/* Style the body element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Style the header element */
  header {
    background-color:#36293b;
    color: #fff;
    padding: 20px;
    text-align: left;
  }

  header img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 80px;
    height: auto;
  }

  /* Style the navigation menu */
  nav {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #333;
  }
  
  /* Style the main content */
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }

    img {
        height: 400px;
        width: 490px;
        position:sticky
    }
  
  section h2 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  article {
    flex-basis: 70%;
  }
  
  article h3 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  
  article p {
    line-height: 1.5;
  }
  
  aside {
    flex-basis: 25%;
    margin-top: 20px;
  }
  
  aside h3 {
    font-size: 18px;
    margin: 0 0 10px;
  }
  
  aside p {
    line-height: 1.5;
  }

  #space {
    background-color: #ccc;
    text-align: center;
    margin: 0;
  }
  
  /* Style the footer */
  footer {
    background-color: #36293b;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
